@import "/base.css";

.wip-banner {
  width: 100vw;
  height: calc(100vh - 100px - 50px);
  min-height: 600px;
  padding: 175px var(--page-margin);
  text-align: center;
}
.wip-banner .large-heading {
  margin-bottom: 25px;
}


.iframe-wrapper{
  margin: 10px 0 50px 0;
  text-align: center; 
}

#add-cal-btn-section{
  display: flex;
  justify-content: center;

}

#add-cal-btn-div {
  margin-top: 30px;
  margin-bottom: 0px;
  display: flex;
  justify-content: right;
  width: 800px;
}

#add-cal-btn {
  padding: 10px 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: #C8EAF0;
  text-decoration: none;
  color: black;
  border-radius: 10px;
} 

#add-cal-btn:hover {
  cursor: pointer;
  background-color: #81b8c2;
}

/* .calendar{
  text-align: center; 
  width: 100%; 
} */



