@import "/base.css";

.wip-banner {
  width: 100vw;
  height: calc(100vh - 100px - 50px);
  min-height: 600px;
  padding: 175px var(--page-margin);
  text-align: center;
}
.wip-banner .large-heading {
  margin-bottom: 25px;
}

.calendar{
  text-align: center; 
  width: 100%; 

}

iframe{
  width: 200px; 
}