@import "/base.css";

@font-face {
  font-family: SemplicitaPro;
  font-weight: 400;
  src: url("/alumni-day/SemplicitaPro.otf") format("opentype");
}
@font-face {
  font-family: SemplicitaPro;
  font-weight: 600;
  src: url("/alumni-day/SemplicitaPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: SemplicitaPro;
  font-weight: 700;
  src: url("/alumni-day/SemplicitaPro-Bold.otf") format("opentype");
}

:root {
  --light: #E6F5F7;
  --midtone: #439CBF;;
  --dark:  #233870;
  --ad_accent: #F79441;
  --ad_accent_darker: #D67320;
}

.heading {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: var(--dark);
}
.heading span {
  border-bottom: none;
  color: var(--ad_accent);
}
.heading .fas, .heading .far {
  position: relative;
  top: 15px;
  width: 100px;
  margin-right: 30px;
  text-align: center;
  font-size: 60px;
}

.subheading{
  font-family: Futura;
  font-weight: 700;
  font-size: 22px;
  color: var(--dark);
  text-transform: uppercase;
}
.subheading span{
  color: var(--ad_accent);
}

.content p {
  font-family: "SemplicitaPro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.callout-button{
  height: 50px;
  padding-top: 15px;
  border-radius: 5px;
  background-color: var(--ad_accent);
  text-transform: uppercase;
  font-family: Futura;
  font-size: 16px;
  color: #fff;
}
.callout-button:hover {
  background-color: var(--ad_accent_darker);
}

.divider{
  border-top: 4px solid var(--midtone);
  margin: 50px 0;
}
.divider .mini_divider{
  height: 9px;
  width: 100px;
  background-color: var(--midtone);
}

@media screen and (max-width: 1000px) {
  .heading {
    font-size: 24px;
    line-height: 36px;
  }
  .heading .fas, .heading .far {
    width: 80px;
    font-size: 50px;
    margin-right: 25px;
    top: 10px;
  }
  .subheading{
    font-size: 20px;
  }
  .content p {
    font-size: 15px;
  }
  .info .content p, .what-to-expect .content p {
    margin-left: 105px;
  }
  .callout-button{
    height: 40px;
    padding-top: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 22px;
    line-height: 32px;
  }
  .heading .fas, .heading .far {
    display: none;
  }
  .subheading{
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 20px;
    line-height: 28px;
  }
  .subheading{
    font-size: 16px;
  }
}


#alumni-day .navbar {
  background-color: var(--dark);
}
#alumni-day .navbar .logo .logo-text {
  color: var(--white);
}
#alumni-day .navbar .nav-button {
  color: var(--white);
}
#alumni-day .navbar .nav-button:hover, #alumni-day .navbar .nav-button.active {
  border-bottom: 2px solid var(--white);
  color: var(--white);
}
#alumni-day .navbar .right-mobile .menu-button {
  color: var(--white);
}
#alumni-day .footer {
  background-color: var(--dark);
}

.banner {
  height: calc(100vh - 100px);
  padding-top: calc(50vh - 200px);
  background-image: url('/media/alumni-day/banner-background.svg');
  background-size: cover;
  background-position: center;
  text-align: center;
}
.banner img {
  width: 45vw;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .banner img {
    width: 55vw;
  }
}
@media screen and (max-width: 1000px) {
  .banner {
    height: calc(80vh - 100px);
  }
  .banner img {
    width: 60vw;
  }
}
@media screen and (max-width: 800px) {
  .banner img {
    width: 75vw;
  }
}
@media screen and (max-width: 600px) {
  .banner img {
    width: 85vw;
  }
}

.main {
  padding: 50px var(--page-margin);
}

.info .heading {
  margin-bottom: 25px;
}
.info .content p {
  margin-left: 130px;
  margin-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .info .content p {
    margin-left: 0;
  }
}

.schedule {
  margin-bottom: 120px;
}
.schedule .heading {
  margin-bottom: 80px;
}
.schedule .callout-wrapper{
  height: 50px;
  margin-bottom: -50px;
  text-align: right;
}
.schedule .highlighted-event{
  margin: 10px 0 50px;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--dark);
}
.schedule .highlighted-event .alt-button {
  margin-top: 25px;
  display: none;
}
.schedule .highlighted-event .subheading {
  color: var(--light);
  margin-bottom: 40px;
}
.schedule .highlighted-event .content {
  margin-bottom: 50px;
}
.schedule .highlighted-event .content p {
  color: var(--light);
  margin-right: 150px;
}
.schedule .highlighted-event .speakers {
  display: flex;
  flex-direction: row;
}
.schedule .highlighted-event .speakers .alumni {
  flex-grow: 1;
  width: 100px;
  text-align: center;
}
.schedule .highlighted-event .speakers .alumni:not(:last-child) {
  margin-right: 50px;
}
.schedule .highlighted-event .speakers .alumni .alumni-portrait {
  height: auto;
  margin-bottom: 25px;
}
.schedule .highlighted-event .speakers .alumni .alumni-portrait::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.schedule .highlighted-event .speakers .alumni .alumni-name {
  color: var(--light);
  font-family: SemplicitaPro, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.highlighted-event .speakers .alumni .alumni-title, .highlighted-event .speakers .alumni .alumni-company {
  color: var(--midtone);
  font-family: SemplicitaPro, sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}
.schedule .other-events {
  display: flex;
  flex-direction: row;
}
.schedule .other-events .alt-button {
  display: none;
}
.other-events .event {
  flex-grow: 1;
  width: 100px;
}
.other-events .event:not(:last-child) {
  margin-right: 50px;
}
.other-events .event .subheading {
  color: var(--midtone);
}
.other-events .event .other-event {
  margin: 10px 0;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--light);
}
.event .other-event .subheading {
  color: var(--dark);
  margin-bottom: 20px;
}
.other-event .content {
  margin-bottom: 40px;
}
.other-event .content p {
  color: var(--dark);
}
.other-event .speakers {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.other-event .alumni-portrait {
  flex-grow: 1;
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}
.other-event .alumni-portrait:not(:last-child) {
  margin-right: 25px;
}
.other-event .alumni-portrait::before {
  content: '';
  display: block;
  padding-top: 100%;
}

@media screen and (max-width: 1000px) {
  .schedule {
    margin-bottom: 100px;
  }
  .schedule .heading {
    margin-bottom: 60px;
  }
  .schedule .highlighted-event .content p {
    margin-right: 100px;
  }
  .schedule .highlighted-event .speakers .alumni .alumni-name {
    font-size: 16px;
  }
  .schedule .highlighted-event .speakers .alumni .alumni-title, .highlighted-event .alumni-company {
    font-size: 14px;
  }
  .other-events .event {
    width: auto;
    margin-bottom: 40px;
  }
  .other-event .alumni-portrait {
    display: none;
  }
  .other-event .content {
    margin-bottom: -10px;
  }
}
@media screen and (max-width: 800px) {
  .schedule {
    margin-bottom: 80px;
  }
  .schedule .heading {
    margin-bottom: 40px;
  }
  .schedule .highlighted-event .callout-wrapper, .schedule .other-events .detail-button {
    display: none;
  }
  .schedule .highlighted-event .alt-button, .schedule .other-events .alt-button {
    display: inline-block;
  }
  .schedule .highlighted-event .content {
    margin-bottom: 25px;
  }
  .schedule .highlighted-event .speakers .alumni:not(:last-child) {
    margin-right: 25px;
  }
  .schedule .highlighted-event .speakers .alumni .alumni-portrait {
    margin-bottom: 15px;
  }
  .schedule .highlighted-event .speakers .alumni .alumni-name {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .schedule .highlighted-event .speakers .alumni .alumni-title {
    display: none;
  }
  .schedule .highlighted-event .speakers .alumni .alumni-company {
    font-size: 12px;
  }
  .schedule .highlighted-event .subheading, .event .other-event .subheading {
    margin-bottom: 20px;
  }
  .schedule .other-events {
    flex-direction: column;
  }
  .other-events .event:not(:last-child) {
    margin-right: 0;
  }
  .other-event .alumni-portrait {
    display: block;
  }
  .other-event .content {
    margin-bottom: 25px;
  }
  .schedule .highlighted-event .content p {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .schedule .highlighted-event .speakers .alumni:not(:last-child) {
    margin-right: 15px;
  }
  .schedule .highlighted-event .speakers .alumni .alumni-name, .schedule .highlighted-event .speakers .alumni .alumni-company {
    display: none;
  }
  .other-event .alumni-portrait:not(:last-child) {
    margin-right: 15px;
  }
}

.alumni-portrait#emily {
  background-image: url('/media/alumni-day/emily-lin.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#alex {
  background-image: url('/media/alumni-day/alex-kim.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#shang {
  background-image: url('/media/alumni-day/shang-lu.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#isabella {
  background-image: url('/media/alumni-day/isabella-sheier.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#prerna {
  background-image: url('/media/alumni-day/prerna-dudani.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#marissa {
  background-image: url('/media/alumni-day/marissa-meier.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#danielle {
  background-image: url('/media/alumni-day/danielle-macedo.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#jeremy {
  background-image: url('/media/alumni-day/jeremy-dang.png');
  background-size: cover;
  background-position: center;
}

.what-to-expect {
  min-height: 100vw;
  padding: calc(5vw + 50px) var(--page-margin) 50px;
  margin-top: calc(-5vw - 50px);
  background-image: url('/media/alumni-day/what-to-expect-background.svg');
  background-size: cover;
  background-position: center -8vw;
  background-repeat: no-repeat;
}
.what-to-expect .heading {
  margin-bottom: 25px;
}
.what-to-expect .content p {
  height: 0;
  margin-left: 130px;
  font-size: 18px;
}
.what-to-expect .float .subheading {
  color: var(--ad_accent);
  margin-bottom: 15px;
}
.what-to-expect .float .content p {
  height: auto;
  margin: 0;
  font-weight: 700;
}
.what-to-expect .float-1 {
  max-width: 27vw;
  margin-top: 27vw;
  margin-bottom: 5vw;
}
.what-to-expect .float-2 {
  max-width: 30vw;
  margin-left: 45vw;
  margin-bottom: 5vw;
}
.what-to-expect .float-3 {
  max-width: 30vw;
}
@media screen and (max-width: 1200px) {
  .what-to-expect {
    padding: 50px var(--page-margin);
    margin-top: -50px;
  }
  .what-to-expect .float-1 {
    margin-top: 30vw;
    margin-bottom: 0;
  }
  .what-to-expect .float-2 {
    margin-left: 51vw;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1000px) {
  .what-to-expect .content p {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .what-to-expect {
    background: none;
    min-height: inherit;
    padding-bottom: 100px;
  }
  .what-to-expect .content p {
    height: auto;
    font-size: 15px;
    margin-left: 0;
  }
  .what-to-expect .float-1 {
    max-width: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
  }
  .what-to-expect .float-2 {
    max-width: none;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .what-to-expect .float-3 {
    max-width: none;
    margin-right: 100px;
  }
}

.FAQ {
  display: flex;
  flex-direction: row;
  padding: 50px calc(var(--page-margin) + 50px) 100px;
  background-color: var(--light);
}
.FAQ .left, .FAQ .right {
  flex-grow: 1;
  width: 200px;
}
.FAQ .heading {
  margin-bottom: 30px;
}
.FAQ .question {
  margin-bottom: 30px;
}
.FAQ .question h3 {
  font-family: Futura, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--dark);
}
.FAQ .right .picture{
  width: calc(0.65 * (50vw - var (--page-margin)));
  height: calc(0.8 * (50vw - var(--page-margin)));
  margin-left: 75px;
  background-position: center;
  background-size: cover;
  background-image: url("/media/alumni-day/photobooth.jpg");
  box-shadow: 25px 25px 0 0 var(--dark);
}

@media screen and (max-width: 1000px) {
  .FAQ .right {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .FAQ .question h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .FAQ {
    padding: 50px var(--page-margin);
  }
  .FAQ .question h3 {
    font-size: 16px;
  }
}

.modal {
  display: none;
  position: fixed;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -400px;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--light);
  opacity: 1;
  z-index: 3;
  overflow-y: scroll;
  transition: opacity 0.1s linear;
}
.modal:not(.active) {
  opacity: 0;
}

.modal .callout-wrapper{
  height: 50px;
  margin-bottom: -50px;
  text-align: right;
}
.modal .subheading {
  color: var(--dark);
  margin-bottom: 40px;
}
.modal .content {
  margin-bottom: 50px;
}
.modal .content p {
  color: var(--dark);
  margin-right: 150px;
}
.modal .speakers {
  display: flex;
  flex-direction: row;
}
.modal .speakers .alumni {
  flex-grow: 1;
  width: 100px;
  text-align: center;
}
.modal .speakers .alumni:not(:last-child) {
  margin-right: 50px;
}
.modal .speakers .alumni .alumni-portrait {
  height: auto;
  margin-bottom: 25px;
}
.modal .speakers .alumni .alumni-portrait::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.modal .speakers .alumni .alumni-name {
  color: var(--dark);
  font-family: SemplicitaPro, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.modal .alumni .alumni-title, .modal .alumni .alumni-company {
  color: var(--midtone);
  font-family: SemplicitaPro, sans-serif;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}
