@import "/base.css";

@font-face {
  font-family: SemplicitaPro;
  font-weight: 400;
  src: url("/alumni-day/SemplicitaPro.otf") format("opentype");
}
@font-face {
  font-family: SemplicitaPro;
  font-weight: 600;
  src: url("/alumni-day/SemplicitaPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: SemplicitaPro;
  font-weight: 700;
  src: url("/alumni-day/SemplicitaPro-Bold.otf") format("opentype");
}

:root {
  --light: #E6F5F7;
  --midtone: #439CBF;;
  --dark:  #233870;
  --ad_accent: #F79441;
  --ad_accent_darker: #D67320;
}

.heading {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 48px;
  color: var(--dark);
}
.heading span {
  border-bottom: none;
  color: var(--ad_accent);
}
.heading .fas, .heading .far {
  position: relative;
  top: 15px;
  width: 100px;
  margin-right: 30px;
  text-align: center;
  font-size: 60px;
}

.subheading{
  font-family: Futura;
  font-weight: 700;
  font-size: 22px;
  color: var(--dark);
  text-transform: uppercase;
}
.subheading span{
  color: var(--ad_accent);
}

.content p {
  font-family: "SemplicitaPro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.callout-button{
  height: 50px;
  padding-top: 15px;
  border-radius: 5px;
  background-color: var(--ad_accent);
  text-transform: uppercase;
  font-family: Futura;
  font-size: 16px;
  color: #fff;
}
.callout-button:hover {
  background-color: var(--ad_accent_darker);
}

.divider{
  border-top: 4px solid var(--midtone);
  margin: 50px 0;
}
.divider .mini_divider{
  height: 9px;
  width: 100px;
  background-color: var(--midtone);
}

#alumni-day .navbar {
  background-color: var(--dark);
}
#alumni-day .navbar .logo .logo-text {
  color: var(--white);
}
#alumni-day .navbar .nav-button {
  color: var(--white);
}
#alumni-day .navbar .nav-button:hover, #alumni-day .navbar .nav-button.active {
  border-bottom: 2px solid var(--white);
  color: var(--white);
}
#alumni-day .navbar .right-mobile .menu-button {
  color: var(--white);
}
#alumni-day .footer {
  background-color: var(--dark);
}

.banner {
  height: calc(100vh - 100px);
  padding-top: calc(50vh - 200px);
  background-image: url('/media/alumni-day/banner-background.svg');
  background-size: cover;
  background-position: center;
  text-align: center;
}
.banner img {
  width: 45vw;
  margin-bottom: 40px;
}

.main {
  padding: 50px var(--page-margin);
}

.info .heading {
  margin-bottom: 25px;
}
.info .content p {
  margin-left: 130px;
  margin-bottom: 100px;
}

.schedule {
  margin-bottom: 120px;
}
.schedule .heading {
  margin-bottom: 80px;
}
.schedule .callout-wrapper{
  height: 50px;
  margin-bottom: -50px;
  text-align: right;
}
.schedule .highlighted-event{
  margin: 10px 0 50px;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--dark);
}
.schedule .highlighted-event .subheading {
  color: var(--light);
  margin-bottom: 40px;
}
.schedule .highlighted-event .content {
  margin-bottom: 50px;
}
.schedule .highlighted-event .content p {
  color: var(--light);
  margin-right: 150px;
}

.schedule .highlighted-event .speakers {
  display: flex;
  flex-direction: row;
}
.schedule .highlighted-event .alumni {
  flex-grow: 1;
  width: 100px;
  text-align: center;
}
.schedule .highlighted-event .alumni:not(:last-child) {
  margin-right: 50px;
}
.schedule .highlighted-event .alumni .alumni-portrait {
  background-color: #eee;
  height: auto;
  margin-bottom: 25px;
}
.schedule .highlighted-event .alumni .alumni-portrait::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.schedule .highlighted-event .alumni-name {
  color: var(--light);
  font-family: SemplicitaPro, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.schedule .highlighted-event .alumni-title, .highlighted-event .alumni-company {
  color: var(--midtone);
  font-family: SemplicitaPro, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.schedule .other-events {
  display: flex;
  flex-direction: row;
}
.other-events .event {
  flex-grow: 1;
  width: 100px;
}
.other-events .event:not(:last-child) {
  margin-right: 50px;
}
.other-events .event .subheading {
  color: var(--midtone);
}
.other-events .event .other-event {
  margin: 10px 0;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--light);
}
.event .other-event .subheading {
  color: var(--dark);
  margin-bottom: 20px;
}
.other-event .content {
  margin-bottom: 40px;
}
.other-event .content p {
  color: var(--dark);
}
.other-event .speakers {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.other-event .alumni-portrait {
  flex-grow: 1;
  width: 50px;
  background-color: #eee;
  height: auto;
  margin-bottom: 10px;
}
.other-event .alumni-portrait:not(:last-child) {
  margin-right: 25px;
}
.other-event .alumni-portrait::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.alumni-portrait#alex {
  background-image: url('/media/alumni-day/alex-kim.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#shang {
  background-image: url('/media/alumni-day/shang-lu.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#isabella {
  background-image: url('/media/alumni-day/isabella-sheier.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#prerna {
  background-image: url('/media/alumni-day/prerna-dudani.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#danielle {
  background-image: url('/media/alumni-day/danielle-macedo.jpg');
  background-size: cover;
  background-position: center;
}
.alumni-portrait#marissa {
  background-image: url('/media/alumni-day/marissa-meier.jpg');
  background-size: cover;
  background-position: center;
}

.what-to-expect {
  height: 100vw;
  padding: calc(5vw + 50px) var(--page-margin) 50px;
  margin-top: calc(-5vw - 50px);
  background-image: url('/media/alumni-day/what-to-expect-background.svg');
  background-size: cover;
  background-position: center -8vw;
  background-repeat: no-repeat;
}
.what-to-expect .heading {
  margin-bottom: 25px;
}
.what-to-expect .content p {
  margin-left: 130px;
  margin-bottom: 100px;
}


.FAQ {
  display: flex;
  flex-direction: row;
  padding: 50px calc(var(--page-margin) + 50px) 100px;
  background-color: var(--light);
}
.FAQ .left, .FAQ .right {
  flex-grow: 1;
  width: 200px;
}
.FAQ .heading{
  margin-bottom: 30px;
}
.FAQ .question{
  margin-bottom: 30px;
}
.FAQ .question h3{
  font-family: Futura, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--dark);
}
.FAQ .right .picture{
  width: calc(0.65 * (50vw - var(--page-margin)));
  height: calc(0.8 * (50vw - var(--page-margin)));
  margin-left: 50px;
  background-position: center;
  background-size: cover;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190628/ourmid/pngtree-white-lines-pink-background-image_269454.jpg");
}
