@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

#construction-section {
    margin: 100px 100px;
}

#construction {
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#construction-title{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

#cal-btn-div {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#cal-btn {
    padding: 15px 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: var(--primary);
    text-decoration: none;
    color: white;
    border-radius: 10px;

}

/* .main {
    padding: 75px 100px;
} */

#upcoming-meetings {
    padding: 75px 100px;
}

#past-meetings {
    background-color: var(--primary);
    padding: 75px 100px;
}

.quarter {
    margin: 20px 0 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

article {
    background-color: white;
    padding: 20px 40px 40px 40px;
    border-radius: 10px;
}

#past-meetings h2 {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
}

.past-type {
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    color: #00A6C4;
}

.quarter-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: #e8f3f9;
}

.past-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.past-date {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    color: #00A6C4;
}

article p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 25px 0 30px 0;
}

section a {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
    background-color: #00A6C4;
    border-radius: 10px;
}

